#bio {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid slateblue;
    text-indent: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    line-height: 1.8;
}

body {
}

img {
    width: 300px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1
{
    text-align: center;
}
ul {
    margin-left: 75px;
    text-align: left;
}
p {
    margin-left: 50px;
}

h2 {
    margin-left: 50px;
}
